*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(52, 34, 63);
    color: rgb(216, 220, 224)
}

.header{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #fff;
}


.header > h3{
    font-size: 30px;
    padding-left: 40px;
}
.Rsearch {
    width: 100%;
    padding: 5px;
    border: 1px solid #1a494b;
    outline: none;
    border-radius: 6px;
    height: 100%;
}

.searchRes{
    width: 20%;
    margin-right: 60px;
    display: flex;
    height: 20px;
    align-items: center;
}
.searchIcon{
    height: 100%;
    color: #fff !important;
    margin-bottom: 30px;
}

@media (max-width:415px){
    .header{
        flex-direction: column;
        padding:  0;
    }
    .header > h3{
        font-size: 20px;
        padding:10px 0;
    }
    .searchRes{
        width: 70%;
        margin: 20px auto;
    }
}

.line{
    width: 90%;
    height: 1px;
    background-color: rgb(216, 220, 224);
    margin: 50px auto;
}

.body__header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 350px;
    font-weight: 300;
    color: rgb(216, 220, 224);
}

.header__items{
    display: flex;
    align-items: center;
}

.items__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp{
    font-size: 100px;
    
}

.city{
    font-size: 40px;
}

.reg{
    font-size: 30px;
    font-weight: 300;
}
.clock{
    font-weight: 300;
}

.header__icon{
    width: 100px;
    height: 100px;
}
.header__icon img{
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width:415px){
    .line{
        margin: 30px auto;
    }    
    .body__header{
        height: 270px;
    }
    .reg{
        font-size: 16px;
    }
    .clock{
        font-size: 13px;
    }
    .header__icon{
        height: 70px;
        width: 70px;
    }
    .temp{
        font-size: 80px;
    }
    .city{
        font-size: 16px;
        margin: 0 auto !important;
    }
}

/* Bottom */

.bottom{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    align-items: center;
}

.bottom__cols{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondColor{
    color: rgb(166, 156, 175);
}

.loading{
    margin: 50px auto;
    text-align: center;
}

@media (max-width:415px){
    .bottom{
        width: 75%;
    }

    .bottom__footer{
        font-size: 10px;
    }
    .loading{
        font-size: 20px;
    }
}

